/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Countdown Timer Styling */
h1 {
    font-size: 4em;
    margin-bottom: 20px;
    /* color: #2e8b57; */
    text-align: center;

    font-weight: bold;
    font-family: Acme, Arial, sans-serif;
    letter-spacing: 1.2pt;
}

@keyframes myanima {
    0% {
        transform: translateY(0);
        background-color: #abe;
    }

    20% {
        transform: translateX(-100px) translateY(-100px);
        background-color: #57d;
    }

    40% {
        transform: translateX(200px) translateY(-100px);
        background-color: #24a;
        color: #fff;
    }

    60% {
        transform: translateX(-200px) translateY(100px);
        background-color: #125;
        color: #fff;
    }

    80% {
        transform: translateX(200px) translateY(100px);
        background-color: #abe;
    }

    100% {
        transform: translateY(0);
        background-color: #abe;
        rotate: 50%;
    }
}

.box {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4CAF50;
    color: white;
    animation: myanima 3s infinite alternate;
    /* animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternat */
}


/* Start Button */
#start-button {
    background-color: #4CAF50;
    color: white;
}

#start-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Pause Button */
#pause-button {
    background-color: #FF9800;
    color: white;
}

#pause-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Resume Button */
#resume-button {
    background-color: #2196F3;
    color: white;
}

#resume-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Button Hover Effects */
button:hover:not(:disabled) {
    background-color: #3e8e41;
}

header {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1200px;

}



.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.🍔 {
    text-decoration: none;
    font-size: 1.5rem;
}

nav {
    margin: 0 2rem;
    flex: 1 1 25%;
    position: relative;
    text-align: right;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0;
    overflow: hidden;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.navigation a.nohover:hover {
    text-decoration: none;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
  */
.responsive li {
    display: block;
    width: 150px;
}

.responsive a {
    font-size: 1.3rem;
}

.responsive {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: tomato;
    box-shadow: 0 0 15px #333;
}

.responsive a,
.responsive a:visited {
    color: white;
}

/********************************************************/
/* Media Query for medium+ views */
@media only screen and (min-width: 760px) {
    .🍔 {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
}