:root {
    --primary-color: #5c5751;
    --secondary-color: #DB998F;
    --accent1-color: #2B1109;
    --accent2-color: #91393E;
    --nav-hover-background-color: #fff;

    /* change the values below to your chosen font(s) */
    --heading-font: "Comic Neue", Lato, Helvetica;
    --paragraph-font: "Open Sans", Helvetica, sans-serif;
}

/* Desktop Views ****************************/
@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .headerfix {
        display: grid;
        grid-template-columns: 2fr 2fr auto;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
    }

    main {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .join-member {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .contact-form {
        display: flex;
        flex-direction: row;
    }

    .product-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .product-area {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .bag-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }


    .products img {
        width: 100%;
        height: auto;
        /* max-width: 340px; */
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-area {
        /* align-items: flex-end; */
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation a:not(#menu),
    .navigation.open a:not(#menu) {
        display: block;
        width: fit-content;
    }

}